/*CSS style sheet homepage.php*/

body{
    background-size: cover;
    background-image: url(../imgs/mountain.jpg);
    margin-top: 50px;
    font-family: sans-serif;
   
}


#main-wrapper{
	
    width:500px;
    margin: 0 auto;
	background:white;
	padding:5px;
	opacity: 0.8;
    background-color:#212121;
    color:white;
    margin-left: 400px;
    height:220px;
    
    
}

.

.myform{
	width:350px;
	margin:0 auto;
    margin-top: 100px;
}






#logout_btn{
	margin-top:10px;
	background-color:#c0392b;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
     border: none;
    border-radius: 8px;
}